# ---- Maven
target/

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# ---- Eclipse
.classpath
.project
.settings

# --- VSCode
.factorypath
.vscode/

# ---- Sonar Scanners
.scannerwork
.sonar