name: Build

on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  verify:
    runs-on: ubuntu-latest
    env:
      HTTP_PROXY_SERVER: ''
      HTTP_PROXY_PORT: ''
    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
      - name: Run Maven Verify
        run: mvn --batch-mode --update-snapshots verify
