name: Build

on:
  push:
    branches:
      - 'master'

jobs:
  verify:
    runs-on: ubuntu-latest
    env:
      HTTP_PROXY_SERVER: ''
      HTTP_PROXY_PORT: ''
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Run Maven Verify
        run: mvn verify -Pci --batch-mode --no-transfer-progress
