name: Release

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Publish to Maven Central
        run: mvn deploy -DskipTests -Prelease --batch-mode --no-transfer-progress
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      - name: Get version from tag
        id: get-version
        uses: battila7/get-version-action@v2
      - name: Get changelog release info
        id: changelog
        uses: release-flow/keep-a-changelog-action@v2
        with:
          command: query
          version: ${{ steps.get-version.outputs.version-without-v }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ steps.changelog.outputs.version }}
          body: ${{ steps.changelog.outputs.release-notes }}
          files: sonar-delphi-plugin/target/sonar-delphi-plugin-${{ steps.changelog.outputs.version }}.jar